<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet 'bulma', 'application' %>
    <%= favicon %>
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="nav has-shadow">
          <div class="nav-left">
            <a href="/" class="nav-item is-tab"><%= index %></a>
          </div>
          <div class="nav-center">
            <a href="/about" class="nav-item is-tab"><%= about %></a>
            <a href="/archieve" class="nav-item is-tab"><%= archieve %></a>
            <a href="/repress" class="nav-item is-tab"><%= repress %></a>
          </div>
        </nav>
      </header>
      <div class="columns">
        <%= yield %>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <p>
              Copyright 2004-2006
            
           


            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
