<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet 'bulma', 'application' %>
    <%= favicon %>
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="nav has-shadow">
          <div class="nav-left">
            <a href="/" class="nav-item is-tab"><%= index %></a>
          </div>
          <div class="nav-center">
            <a href="/about" class="nav-item is-tab"><%= about %></a>
            <a href="/archive" class="nav-item is-tab"><%= archive %></a>
            <a href="/repress" class="nav-item is-tab"><%= repress %></a>
          </div>
        </nav>
      </header>
      <%= yield %>
      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
            <p>
              Copyright 2004-2006

            </p>
            <p>
              <a href="/locale/gr">gr</a>
              <a href="/locale/en">en</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
